
*{
  border: 0px solid  rgb(0, 0, 0);
}
/*Goodag*/


::-webkit-scrollbar {
  width: 5px;
  background-color: #00000000;
}
::-webkit-scrollbar-track {
  background-color: #44444400;
}
::-webkit-scrollbar-thumb{
  background-color: #000000;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #DA0037;
}


#i {
  color: rgb(255, 0, 0);
}

a {
  color: #171717;
  text-decoration: none;
}

#loggan {
  
  font-size: 2em;
  font-weight: 550;
  font-family: Garamond, 'Times New Roman', Times, serif;
}
#loggan-navbar{
 position: relative;
 top: 0;
 left: 0;
 font-size: 45px;
 padding:10px;
 color:#000000;
 border-radius: 3px;
}

#mobilverionenidator {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  height: 80px;
  padding: 1em;
  width: 100%;
  top: 0px;
  left: 0;
  background-color: rgba(241, 241, 241, 0)
}


.top-nav-mobil {
  position:fixed;
  display: flex;
  align-items:center;
  z-index: 3;
  height: 70px;
  width: 100%;
  left: 0;
  top: 0px;
  background-color:#ededed; 
}


.addcolor{
  background-color: #444444 !important;
}


@keyframes fadeOut {
  0% { background-color:  #444444; }
  
  100% { background-color: #00000000; }
}

@media screen and (max-width:1000px) {

.övrenavmobil{
  background-color: #ededed;
  
}}
 
.scroll{
  background-color: #100f0f;
}

.top-nav-mobil a {
  justify-content: center;

}
.top-nav-mobil a:hover{
  color: #747272;
}



.menu {
  display: flex;
  flex-direction: row;
  list-style-type:none;
  position: relative;
  z-index: 2;
  height:60px;
  width: fit-content;
  right: 30px;
}

.menu>li {
  display:flexbox;
  justify-content: right;
  width: fit-content;
  margin: auto;
  overflow:auto;
  font-family: 'Oswald', sans-serif;
  line-height: 38px;
  font-size: 18px;
  padding-right: 20px ;
}
.logos{
  font-size: 22px;
  margin-left: 10px;
}

#startpagesigninbutton{
  display: flex;
  justify-content: right;
  width:100px;
  height: 40px;
  overflow:hidden;
  font-family: 'Oswald', sans-serif;
  background-color: #DA0037;
  border-radius: 5px;
  line-height: 38px;
  color:#dedede;
  padding-right: 0;
}
#loginbuttontext{
  text-align: center;
  width: 100%;
  color: #dedede;
}
.menu-button-container {
  position: relative;
  display: none;
  height: 70px;
  width: 70px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display:none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #DA0037;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 1000ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 4px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}


#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(45deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(13, 13, 13, 0);
  transform: rotate(0deg);

  
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-45deg);
  
}

@media screen (min-width: 1000px){

  
}
  


@media (max-width: 1000px) {
  .menu-button-container {
    display:flex;
    right: 10px;
  }

  .menu {
    position:absolute;
    top: 70px;
    margin-top: 0px;
    flex-direction:column;
    width: 100%;
    align-items:center;
    display: flex;
    list-style-type:lower-roman;
    z-index: 3;
    height: auto;
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0px;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    position:relative;
    justify-content: right;
  }

  #menu-toggle:checked~.menu li {
    height: 100%;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    position: relative;
    justify-content: right;

  }
  #menu-toggle:checked+ .top-nav-mobil::after{
    background-color:#100f0f ;
  }
  
  
  .menu>li {
    display:flex;
    overflow:hidden;
    font-family: 'Oswald', sans-serif;
    line-height: 70px;
    position: relative;
    width: 100%;
    
    
  }

  .menu>li:not(:last-child) {
    border-bottom: 1px solid rgb(238, 235, 235);
  }
  .menu>li a{
    position:relative;
    color: #000000;
    font-family: 'Oswald', sans-serif;
    padding-right:15px ;
    text-align: right;
    width: 100%;
  }
  
  #startpagesigninbutton{
    display: flex;
    justify-content: right;
    position: absolute;
    width:100%;
    height: 40px;
    overflow:hidden;
    font-family: 'Oswald', sans-serif;
    background-color: #ededed;
    border-radius: 5px;
    line-height: 70px;
    text-align: right;
  }
  #loginbuttontext{
    text-align: right;
    width: 100%;
    color: #000000;
    margin-right: 40px;
  }
  #menydelen{
    height: 0px;
    position: absolute;
    top: 0;
    
  }
  .logos{
    font-size: 30px;
    margin-left: 10px;
  }
  
}

h2{
  position:relative;
}

/*jubotron*/
.rectangle-1 {
  width: 100vh;
  height: 100vh;
  background: #444444;
  transform-origin: 10% 150% 0;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  transform: scale(1) rotate(-10deg);

}

.rectangle-2 {
  width: 100vh;
  height: 100vh;
  background: #DA0037;
  transform-origin: 65% 100% 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  transform: scale(1) rotate(50deg);
 overflow: hidden;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-100vw) rotate(-25deg);
  }

  to {
    opacity: 1;
    transform: translateX(0) rotate(-15deg);
  }
}

@keyframes grow1 {
  from {
    opacity: 1;
    transform: scale(2) rotate(-10deg);
  }

  to {
    opacity: 1;
    transform: scale(1) rotate(-10deg);
  }
}

@keyframes grow2 {
  from {
    opacity: 1;
    transform: scale(2) rotate(50deg);
  }

  to {
    opacity: 1;
    transform: scale(1) rotate(50deg);
  }
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.rectangle-1 {
  opacity: 0;
  animation: grow1 ease 1s forwards;
}

.rectangle-2 {
  opacity: 0;
  animation: grow2 ease 1s forwards;
  box-shadow: 0px 20px 30px 0px rgba(9, 21, 54, 0.25) !important;
}

.rectangle-transparent-1 {
  width: 100px;
  height: 100px;
  border: 55px solid rgba(255, 255, 255, 0.08);
  position: absolute;
  bottom: 10%;
  display: block;
  animation: floating-slow ease-in-out 12s infinite;
}

.rectangle-transparent-2 {
  width: 0vh;
  height: 0vh;
  border: 15px solid rgba(255, 255, 255, 0.08);
  position: absolute;
  right: 20px;
  top: 60vh;
  display: block;
  animation: floating-slow ease-in-out 12s infinite;
}

.circle-1 {
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.659);
  position: absolute;
  display: block;
  border-radius: 60%;
  transform-origin: 50% 50%;
  left: 5%;
  top: 40%;
  animation: fadeInFromTop .5s linear forwards, floating ease 6s infinite;
}

.circle-2 {
  width: 70px;
  height: 70px;
  top: 10%;
  left: 73%;
  border: 2px solid #fff;
  position: absolute;
  display: block;
  border-radius: 50%;
  transform-origin: 50% 50%;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 4s infinite;
}

.circle-3 {
  top: 80%;
  right: 25%;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  position: absolute;
  display: block;
  border-radius: 50%;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 4s infinite;
}

@keyframes floating {
  0% {
    transform: translate(0%, 0%) rotate(25deg);
  }

  25% {
    transform: translate(5%, 15%) rotate(2deg);
  }

  50% {
    transform: translate(10%, 5%) rotate(25deg);
  }

  75% {
    transform: translate(0%, 15%) rotate(25deg);
  }

  100% {
    transform: translate(0%, 0%) rotate(25deg);
  }
}

@keyframes floating-slow {
  0% {
    transform: translate(0%, 0%) rotate(25deg);
  }

  25% {
    transform: translate(1%, 3%) rotate(25deg);
  }

  50% {
    transform: translate(2%, 1%) rotate(25deg);
  }

  75% {
    transform: translate(0%, 3%) rotate(27deg);
  }

  100% {
    transform: translate(0%, 0%) rotate(25deg);
  }
}

.triangle {
  position: absolute;
}

.triangle-1 {
  right: 55vh;
  top: 80vh;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 20s infinite;
}

.triangle-1 img {
  height: 80px;
  width: 80px;
  transform: rotate(-80deg);
}

.triangle-2 {
  top: 16%;
  left: 10%;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 8s infinite;
}

.triangle-2 img {
  width: 75px;
  height: 75px;
  transform: rotate(-15deg);
}

.triangle-3 {
  top: 70%;
  left: 15%;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 10s infinite;
}

.triangle-3 img {
  width: 45px;
  height: 45px;
  transform: rotate(-30deg);
}

.triangle-4 {
  top: 60%;
  right: 15%;
  animation: fadeInFromTop .5s linear forwards, floating ease-in-out 5s infinite;
}

.triangle-4 img {
  width: 45px;
  height: 45px;
  transform: rotate(-40deg);
}

.jumbotronSpace {
  border: 0px solid rgb(0, 0, 0);
  z-index: 0;
  display: grid;
  place-items:center ;
}
.jumbotronText {
  
  position:relative;
  top: 40%;
  
}

.jumbotronstartsida h1 {
  color: rgb(255, 255, 255);
  line-height: 0.8;
  font-weight: bold;
  /*padding: 30px 50px;*/
  font-size: 5rem;
  opacity: 0;
  animation: 1s fadeInFromTop cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s forwards;
  animation-delay: .001s;
  z-index: 1;
  font-weight: 550;
  font-family: Garamond, 'Times New Roman', Times, serif;
  text-size-adjust: 20%;
  text-align: center;
  top: 25vh;
  
}
.jumbotron h1 {
  color: rgb(255, 255, 255);
  line-height: 0.8;
  font-weight: bold;
  /*padding: 30px 50px;*/
  font-size: 5rem;
  opacity: 0;
  animation: 1s fadeInFromTop cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s forwards;
  animation-delay: .001s;
  z-index: 1;
  font-weight: 550;
  font-family: Garamond, 'Times New Roman', Times, serif;
  text-size-adjust: 10%;
}

/* nedre vita delen */
.textdel {
  top: 100vh;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1000px;
  background-color: #171717;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 0px;
  z-index: 2;
}
.Email{
  position: relative;
  color: #100f0f;
  text-decoration: underline;
}
.Email:hover{
  color: gray;
}
.column{
  margin-top: 25px;
}
.textdel h2{
  position: relative;
  left: 0;
}

.stycke{
  border-bottom:1px solid rgb(68, 36, 36);
  padding: 5% 0;
}

.överskrift{
  font-size: 3rem;
  text-align: center;
  font-weight: 550;
  font-family: 'Oswald', sans-serif;
  padding: 0 10px;
}

.innehåll{
  font-size: 2rem;
  font-weight: 550;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #dedede;
}
.bildkontaktaoss{
  top: 60px;
  position: relative;
  margin: 0 auto;
  height: 250px; width: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.btn-next {
  top: 45%;
  right: 2%;
}
.bgcolor{
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  height: 40px;
  padding: 1em;
  width: 100%;
  top: 0px;
  left: 0;
  background: linear-gradient(0deg, rgba(34,193,195,0) 0%, rgba(0, 0, 0, 0) 100%);

}
.bilder{
  position: relative;
  height: auto;
  width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bildsponsrat{
  position: relative;
  height: auto;
  width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#enåthöger{
 position: absolute;
 top:190px;
 left: 0;
 height: 50px;
 border-radius: 0 5px 5px 0 ;
 height: 500px;
 border: #100f0f00;
 color: #585858cc;
 font-size: 20px;
 width: 30px;
 background: linear-gradient(270deg, rgba(34,193,195,0) 0%, rgb(74, 74, 74) 100%);
}
#enåthöger:hover{
  background: linear-gradient(270deg, rgba(113, 113, 113, 0) 0%, rgb(35, 35, 35) 100%);
 }
#enåtvänster{
  position: absolute;
  top:190px;
  right:10px;
  width: 30px;
  background: linear-gradient(90deg, rgba(34,193,195,0) 0%, rgb(74, 74, 74) 100%);
  color: #585858cc;
  height: 500px;
  font-size: 20px;
  border-radius: 5px 0 0 5px ;
  border: #100f0f00;
}
#enåtvänster:hover{
  background: linear-gradient(90deg, rgba(113, 113, 113, 0) 0%, rgb(35, 35, 35) 100%);
}

@media screen and (min-width:1000px) {
  #enåthöger{
    position: absolute;
    top:290px;
    left: 0;
    border-radius: 0 5px 5px 0 ;
    height: 200px;
    border: #100f0f00;
    color: #e7e7e7cc;
    font-size: 20px;
    width: 50px;
    background: linear-gradient(270deg, rgba(115, 115, 115, 0.705) 0%, rgb(74, 74, 74) 100%);
   }
   #enåthöger:hover{
     background: linear-gradient(270deg, rgba(113, 113, 113, 0.705) 0%, rgb(35, 35, 35) 100%);
    }
   #enåtvänster{
     position: absolute;
     top:290px;
     right:0;
     width: 50px;
     background: linear-gradient(90deg, rgba(115, 115, 115, 0.705) 0%, rgb(74, 74, 74) 100%);
     color: #e7e7e7cc;
     height: 200px;
     font-size: 20px;
     border-radius: 5px 0 0 5px ;
     border: #100f0f00;
   }
   #enåtvänster:hover{
     background: linear-gradient(90deg, rgba(113, 113, 113, 0.705) 0%, rgb(35, 35, 35) 100%);
   }

}

.textdelomoss{
  position: relative;
  left: 0;
  width: 100%;
  top: 1000px;
  height: 1000px;
  background-color: #ec0505;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 0px;
 color: #dedede;
}

#loginPage{
  width: 100vw;
  background-color: #444444;
}

.signincontent{
  position: relative;
  top: 30vh;
  width: 50%;
  text-align: center;
  background-color: #ededed;
  border-radius: 5px;
  margin: 1px auto;
}

.loginheader1{
  position: relative;
  top: 20px;
  font-size: 40px;
  color:#444444;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 100;
}
#email,#password,#phonenumber,#name{
  display: block;
  border: 2px solid #ccc;
  width: 54%;
  padding: 10px;
  margin: 1px auto;
  border-radius: 5px;
}

#phonenumber,#name{
  display: none;
}


#signinbutton, #createAccount{
    background: #DA0037;
    padding: 10px 15px;
    color: #EDEDED;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    position: relative;
    top: -20px;
    margin: 10px;
}
#signinbutton:hover,#createAccount:hover{
  background-color: #100f0f;
}